body {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #fd4e08 100%);

}

.transparentDark {
  background-color: rgba(0, 0, 0, 0.5);
}

.jumboTransparent{
  opacity: .95;
  background-image: url(https://www.bsr.org/images/heroes/tech-against-trafficking-hero.jpg);
  background-size: cover;
  
}

.parallax {
  /* The image used */
  background-image: url("https://ieeecs-media.computer.org/wp-media/2020/12/31170104/2021globe1000x400.jpg");

  /* Set a specific height */
  height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardTransparentYellow{
  background-color: rgba(2, 0, 8, 0.336);
  width: 25rem;
  height: 18rem;
  border-radius: 0% 30% 30% 0%;
  border-style: none  outset  outset none;
  border-color: rgba(3, 191, 248, .6);
  border-width: 10px;
  z-index: 2;
  
  
}

.imageBorder{
  border-style: inset  inset  inset inset;
  border-color: rgba(3, 191, 248, .6);
  border-width: 10px;
}

.imageCirc{
width: 10rem;
height: 10rem;
}

.cardTransparent{
  background-color: rgba(253, 253, 253, 0.336);
  width: 25rem;
  height: 18rem;
  border-radius: 10% 10% 10% 10%;
  border-style: inset  inset  inset inset;
  border-color: rgba(3, 191, 248, .6);
  border-width: 10px;
  margin-left: 50px;
}

.cardDesign{
  background-color: rgba(253, 253, 253, 0.336);
  width: 50rem;
  height: 18rem;
  border-radius: 10% 10% 10% 10%;
  border-style: outset  outset  inset inset;
  border-color: rgba(3, 191, 248, .6);
  border-width: 10px;
  margin-left: 50px;
  margin-top: 4rem;
  background-image: linear-gradient(90deg, #08fd1d 0%, #C850C0 46%, #08fd1d 100%); 
  text-align: center;
}

.cardHeaderText{
  font-size: 100pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);

}